<ion-header-bar style='background:none;' >
 <div class="buttons">
    <button class="button button-icon icon ion-close" style='color:white;' on-tap='getPhoto()'></button>
  </div>
  <div class="buttons pull-right">
    <button class="button button-icon icon ion-edit" style='color:white;'></button>
  </div>
</ion-header-bar>

<img src='' id='myImage'>

</img>

<ion-footer-bar style='background:none;' >

  <div class="buttons pull-right">
    <a class="button button-icon icon ion-arrow-right-a " style='color:white;' href='#/sendTo'></a>
  </div>
</ion-footer-bar>