<ion-view title='capture' drag-content="false">
	<div class="bar bar-header" style='position:absolute;left:0px;top:0px;z-index:2;background:none;'>
  		<button class="button button-icon icon ion-close" style='color:white;' on-tap="getPhoto()"></button>
  		<a class="button button-icon icon ion-checkmark" style='color:white;' href='#/sendTo'></a>
	</div>
	
	<ion-content  has-footer='true' scroll='false' style='z-index:0;background:black;'>
		<img id='myImage' ng-src='{{imageSrc}}' style='width:427px;position:relative;left:-12.5%;'></img>
		
	</ion-content>
</ion-view>