<ion-view title='correct'>
	<div id='correctContainer' style='background-color:yellow;height:100%;'>
		<div id='winText' style='color:red;font-size:36pt;height:200px;text-align:center;padding-top:100px;'>
			Correct!
		</div>
		<img src='http://s3-ec.buzzfed.com/static/2013-11/enhanced/webdr06/21/11/anigif_enhanced-buzz-13850-1385051640-37.gif'/>
	</div>
<a href='#/inbox'><ion-footer-bar align-title="center" class="bar-assertive" href='#/inbox'>
  
  <h1 class="title">Inbox</h1>
 
</ion-footer-bar>
</a>
</ion-view>