<!-- 
  This template gets placed in the Pet tab's <nav-view> directive.
  It was wired up in the app config (app.js) 
  The 'pets' data comes from its $scope within PetIndexCtrl (controller.js)
-->

<ion-header-bar class='bar-assertive' >
 <div class="buttons">
    <button class="button button-icon icon ion-camera" style='color:white;'></button>
  </div>
   <h1 class="title" style='font-size:26pt;color:white'>nok-nok</h1>
  <div class="buttons">
    <button class="button button-icon icon ion-levels" style='color:white;'></button>
  </div>
</ion-header-bar>


<ion-content has-header="true" >
  <list>

    <a class="item item-avatar" href="#">
        <img src="img/cat.png">
       <h2>Wenzel Juice</h2>
         <p>Hold to View</p>
     </a>
     <a class="item item-avatar" href="#">
       <img src="img/cat.png" style='color:red;'>
       <h2>Kap'n Crunch<span class='guessTextStatus'>eludes you</span></h2>
         <p>Tap to Send a Message</p>
     </a>
     <a class="item item-avatar" href="#">
       <img src="img/grumpyCat.png">
       <h2>Zola Quao<span class='guessTextStatus'>guessed wrong</span></h2>
         <p>Tap to Send another Clue</p>
     </a>
     <a class="item item-avatar" href="#">
       <img src="img/cat.png">
       <h2>Paul Zamsky<span class='guessTextStatus'>is guessing</span></h2>
         <p>Tap to Send another Clue</p>
     </a>
      <a class="item item-avatar" href="#">
       <img src="img/happyCat.png">
       <h2>Kevin Ho<span class='guessTextStatus'>found you out</span></h2>
         <p>Tap to Send a Message</p>
     </a>
      <a class="item item-avatar" href="#">
       <img src="img/happyCat.png">
       <h2>Pat Blute<span class='guessTextStatus' >was Strongbad</span></h2>
         <p>Tap to Send a Message</p>
     </a>
  </list>
</ion-content>


