<ion-header-bar class='bar-balanced' >
  	<a href='#/selectGuess'><h1 class="title" style='font-size:26pt;color:white'>Who Was That?</h1></a>
  </div>
</ion-header-bar>



<ion-content has-header="true" has-footer='true'>
 <div class="list list-inset">
 	 <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search">
  </label>
</div>
  <ion-list>
 
	<div class="item item-divider">
	    A
	</div>
	    <div class="item item-icon-right personRow">
		Aaron Davis
		</div>
	<div class="item item-divider">
	    B
	</div>
	 	<div class="item item-icon-right personRow">
		Boris Yeltsin
		</div>
	<div class="item item-divider">
	    C
	</div>
	 	<div class="item item-icon-right personRow">
		Charles Barkley
		</div>
  </ion-list>
 </ion-content>

 <ion-footer-bar class='bar-stable' >
  <button class="button button-energized">
	I give up
  </button>
  <button class="button button-assertive">
  Block
</button>
</ion-footer-bar>